<header class="main">
    <div class="container">
        <img ngSrc="money.svg" alt="Ícone de dinheiro" width="90" height="40">
    
        <ul class="link-wrapper" [ngClass]="{'enabled' : isEnabled}" #links>
            <li class="link" id="home"><a href="home">Sobre</a></li>
            <li class="link" id="listarMoedas"><a href="listarMoedas">Listar-Moedas</a></li>
            <li class="link" id="conversor"><a href="conversor">Converter</a></li>
            <li class="link" id="historico"><a href="historico">Histórico</a></li>
        </ul>

        <button (click) = "changeView()" class="menu-hamburguer" [ngClass]="{'enabled' : isEnabled}"></button>
    </div>
</header>
