.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px;
    gap: 50px;
    & .text-container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cta-wrapper{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .cta-btn{
                background-color: var(--main-color);
                color: #FFF;
                width: fit-content;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                transition: background-color 0.3s ease;
                &:hover{
                    background-color: var(--main-color-80);
                }
            }
        }

    }
}

@media(max-width: 767px){
    .home-container{
        padding: 40px 20px;
    }
}