/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root{
    --main-color: rgb(29, 81, 206);
    --main-color-80: rgba(29, 81, 206, 0.8);
    --main-color-10: rgba(29, 81, 206, 0.1);
    color-scheme: light !important;
}